<h1>{{title}}</h1>
<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Admin Dashboard</h5>
                <p class="card-text">Welcome to the MTG Admin Dashboard.</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Data Status</h5>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Remote Data</h6>
                        <p class="card-text">
                            Last modified: {{#if lastModifiedRemote}}{{lastModifiedRemote}}{{else}}Unknown{{/if}}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h6>Local Data</h6>
                        <p class="card-text">
                            Last modified: {{#if lastModifiedLocal}}{{lastModifiedLocal}}{{else}}Unknown{{/if}}
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <form action="/admin/download" method="POST">
                            <button type="submit" class="btn btn-primary">Download Latest Data</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
